<section class="our-project">
    <span class="title">OUR PROJECTS</span>
    <span class="sub-title">Webion is ready to showcase your worke</span>
  <div class="content">
    <div class="block">
      <div class="animated-text">
        <div class="title">Clean Device Display</div>
        <div class="text">Illustrator/ Photoshop</div>
      </div>
    </div>
    <div class="block">
      <div class="animated-text">
        <div class="title">Clean Device Display</div>
        <div class="text">Illustrator/ Photoshop</div>
      </div>
    </div>
    <div class="block">
      <div class="animated-text">
        <div class="title">Clean Device Display </div>
        <div class="text">Illustrator/ Photoshop</div>
      </div>
    </div>
    <div class="block">
      <div class="animated-text">
        <div class="title">Clean Device Display</div>
        <div class="text">Illustrator/ Photoshop</div>
      </div>
    </div>
  </div>
</section>
