<header>
  <div class="logo"><span>webion</span></div>
  <div class="menu-items">
    <a class="active" routerLink="/home"><span>home</span> </a>
    <a routerLink="/about"><span>about</span> </a>
    <a routerLink="/services"><span>services</span></a>
    <a routerLink="/project"><span>project</span></a>
    <a routerLink="/news"><span>news</span></a>
    <a routerLink="/contacts"><span>contacts</span></a>
    <button class="search">
      <img src="assets/icons/search-icon.png" alt="search" />
    </button>
    <button class="cart">
      <img src="assets/icons/cart-icon.png" alt="cart" />
    </button>
  </div>
</header>
