<header>
  <div class="logo"><span>webion</span></div>
  <div class="menu-items">
    <a class="active"><span>home</span> </a>
    <a><span>about</span> </a>
    <a><span>services</span></a>
    <a><span>project</span></a>
    <a><span>news</span></a>
    <a><span>contacts</span></a>
    <button class="search">
      <img src="assets/icons/search-icon.png" alt="search" />
    </button>
    <button class="cart">
      <img src="assets/icons/cart-icon.png" alt="cart" />
    </button>
  </div>
</header>
