<header>
  <div class="logo"><span>webion</span></div>
  <div class="menu-items">
    <a routerLink="/home" routerLinkActive="active"><span>home</span> </a>
    <a routerLink="/about" routerLinkActive="active"><span>about</span> </a>
    <a routerLink="/services" routerLinkActive="active"><span>services</span></a>
    <a routerLink="/project" routerLinkActive="active"><span>project</span></a>
    <a routerLink="/news" routerLinkActive="active"><span>news</span></a>
    <a routerLink="/contacts" routerLinkActive="active"><span>contacts</span></a>
    <button class="search">
      <img src="assets/icons/search-icon.png" alt="search" />
    </button>
    <button class="cart">
      <img src="assets/icons/cart-icon.png" alt="cart" />
    </button>
  </div>
</header>
