<section class="what-we-do">
    <span class="title">What We Do</span>
    <div class="sub-title">Globally coordinate distinctive strategic theme areas</div>
    <div class="content">
        <div class="block">
            <span class="block-title">WEB DEVELOPMENT</span>
            <span class="block-text">We build strong web projects</span>
            <button>read more</button>
        </div>
        <div class="block">
            <span class="block-title">APP DEVELOPMENT</span>
            <span class="block-text">For IOS & Android</span>
            <button>read more</button>
        </div>
        <div class="block">
            <span class="block-title">PHOTOGRAPHY</span>
            <span class="block-text">Any Place, any Size</span>
            <button>read more</button>
        </div>
      
    </div>
</section>
