<section class="modern-design">
  <span class="title">MODERN DESIGN. STRONG FRAMEWORK</span>
  <span class="sub-title"
    >The changing media and technology landscape requires a new kind of creative
    agency with innovation and creativity at its core</span
  >
  <div class="content">
    <div class="block">
      <div class="icon"><img src="../../../../assets/icons/white-folder.png"></div>
      <div class="title">STRONG ADMIN</div>
      <div class="text">
        Intrinsicly mesh top-line customer service after distributed
        meta-services. Uniquely whiteboard professional data before
        bricks-and-clicks.
      </div>
    </div>
    <div class="block">
        <div class="icon"><img src="../../../../assets/icons/white-book.png"></div>
        <div class="title">CLEAN DESIGN</div>
        <div class="text">
          Intrinsicly mesh top-line customer service after distributed
          meta-services. Uniquely whiteboard professional data before
          bricks-and-clicks.
        </div>
      </div>
      <div class="block">
        <div class="icon"><img src="../../../../assets/icons/white-crown.png"></div>
        <div class="title">UNIQUE FEATURES</div>
        <div class="text">
          Intrinsicly mesh top-line customer service after distributed
          meta-services. Uniquely whiteboard professional data before
          bricks-and-clicks.
        </div>
      </div>
  </div>
</section>
