<section class="slogan">
  <p class="title">
    “ WHAT SEPARATES DESIGN FROM ART IS THAT DESIGN IS MEANT TO BE… FUNCTIONAL ”
  </p>
  <p class="author">– Cameron Moll</p>
  <div class="content">
    <div class="block">
      <span class="title">OUR VALUES</span>
      <p>
        Uniquely create competitive e-markets for backward-compatible
        technologies. Authoritatively morph efficient networks via bleeding-edge
        results. Completely drive 24/365 e-markets via quality e-business.
        Progressively plagiarize enterprise strategic theme areas with
        ubiquitous sources. Enthusiastically drive team driven processes rather
        than e-tailers.
      </p>
    </div>
    <div class="block">
      <span class="title">OUR MISSION</span>
      <p>
        Conveniently maximize standardized web-readiness without integrated
        products. Competently productivate fully researched results via
        empowered e-commerce. Quickly repurpose cross-unit methodologies for
        leading-edge materials. Monotonectally enhance team driven human capital
        whereas worldwide.
      </p>
    </div>
    <div class="block progr-bar">
      <span class="title">OUR SKILLS</span>
      <p>
        <span class="label">DEVELOPMENT</span>
        <ngb-progressbar [showValue]="true" [value]="25"></ngb-progressbar>
      </p>
      <p>
        <span class="label">DESIGN</span>
        <ngb-progressbar [showValue]="true" [value]="150" [max]="200"></ngb-progressbar>
      </p>
      <p>
        <span class="label">CONSULTING</span>
        <ngb-progressbar [showValue]="true" [value]="150" [max]="150"></ngb-progressbar>
      </p>
      <p>
        <span class="label">MARKETING</span>
        <ngb-progressbar [showValue]="true" [value]="150" [max]="150"></ngb-progressbar>
      </p>
    </div>
  </div>
</section>
