<section class="agancy-achievement">
    <span class="title">AGENCY ACHIEVEMENTS</span>
    <div class="content">
        <div class="block">
            <span class="img"><img src="../../../../assets/icons/clock-icon.png" alt="" ></span>
            <span class="count">1250</span>
            <span class="text">HOURS OF WORK</span>
        </div>
        <div class="block">
            <span class="img"><img src="../../../../assets/icons/rocket-icon.png" alt="" ></span>
            <span class="count">340</span>
            <span class="text">FINISHED WORKS</span>
        </div>
        <div class="block">
            <span class="img"><img src="../../../../assets/icons/men-icon.png" alt="" ></span>
            <span class="count">95</span>
            <span class="text">CLIENTS</span>
        </div>
        <div class="block">
            <span class="img"><img src="../../../../assets/icons/shared-icon.png" alt="" ></span>
            <span class="count">1250</span>
            <span class="text">HOURS OF WORK</span>
        </div>
    </div>
</section>