<section class="our-team">
  <div class="left-side">
    <span class="title">OUR TEAM</span>
    <span class="text"
      >Globally provide access to state of the art processes rather than
      exceptional value. Completely evisculate high-payoff e-business
      with.</span
    >
  </div>
  <div class="content">
    <div class="persone">
      <img
        src="../../../../assets/images/our-team/lucas-may.png"
        alt="Lucas May"
        class="img-fluid"
      />
      <span class="name">Lucas May</span>
      <div class="info">
        <span class="name-animated">Lucas May</span>
        <span class="description">Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</span>
      </div>
      
    </div>

    <div class="persone">
      <img
        src="../../../../assets/images/our-team/john-dot.png"
        alt="Jonh Dot"
        class="img-fluid"
      />
      <span class="name">Jonh Dot</span>
      <div class="info">
      <span class="name-animated">Jonh Dot</span>
      <span class="description">Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</span>
    </div>
  </div>

    <div class="persone">
      <img
        src="../../../../assets/images/our-team/jakline-bol.png"
        alt="Jakline Bol"
        class="img-fluid"
      />
      <span class="name">Jakline Bol</span>
      <div class="info">
      <span class="name-animated">Jakline Bol</span>
      <span class="description">Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</span>
    </div>
  </div>

    <div class="persone">
      <img
        src="../../../../assets/images/our-team/mariana-doe.png"
        alt="Mariana Doe"
        class="img-fluid"
      />
      <span class="name">Mariana Doe</span>
      <div class="info">
      <span class="name-animated">Mariana Doe</span>
      <span class="description">Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</span>
    </div>
  </div>

    <div class="persone">
      <img
        src="../../../../assets/images/our-team/jakline-carle.png"
        alt="Jakline Carle"
        class="img-fluid"
      />
      <span class="name">Jakline Carle</span>
      <div class="info">
      <span class="name-animated">Jakline Carle</span>
      <span class="description">Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</span>
    </div>
  </div>

    <div class="persone">
      <img
        src="../../../../assets/images/our-team/john-snow.png"
        alt="Jonh Snow"
        class="img-fluid"
      />
      <span class="name">Jonh Snow</span>
      <div class="info">
      <span class="name-animated">Jonh Snow</span>
      <span class="description">Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</span>
    </div>
  </div>
  </div>
</section>
