/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "assets/styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-regular;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none !important
  }
}

// home carousel
.carousel-control-next-icon {
  background-image: url('assets/icons/arrow-next.png');
  width: 13px;
}

.carousel-control-prev-icon {
  background-image: url('assets/icons/arrow-prev.png');
  width: 13px;

}

//progress-bar
.progress {
  height: 3px;
}

.progress-bar {
  background: linear-gradient(90deg, #000000 89%, #C4C4C4 89.21%);

  span {
    font-family: $font-regular-yrsa;
    font-size: 15px;
    font-weight: 400;
    line-height: 3px;
    letter-spacing: -0.035em;
    color: $strongBlack;
    position: absolute;
    bottom: 14px;
    right: 0;
    z-index: 1;
  }
}
