/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "assets/styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-regular;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none !important
  }
}

.carousel-control-next-icon {
  background-image: url('assets/icons/arrow-next.png');
  width: 13px;
}

.carousel-control-prev-icon {
  background-image: url('assets/icons/arrow-prev.png');
  width: 13px;

}
