//fonts
$font-regular: 'Zilla Slab', sans-serif;
$font-regular-yrsa: 'Yrsa';


//colors
$header-background: rgba(75, 75, 75, 0.8);
$white:#FFFFFF;
$light-white:rgba(255, 255, 255, 0.9);
$strongBlack:black;
$black:rgba(0, 0, 0, 0.8);
$grey-border:#E5E5E5;
$light-black:rgba(78, 78, 78, 1);
$light-grey-background:rgba(245, 244, 244, 0.7)

