<section class="latest-from-blog">
  <span class="title">LATEST FROM BLOG</span>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide-wrapper">
        <div class="img" [style.background-image]="images[0]"></div>
        <!-- <img src="../../../../assets/images/blog/blog-1.png" alt="" /> -->
        <span class="title">100 % Satisfaction Guaranteed.</span>
        <span class="date">SEP 17, 2019 COMMENTS: 0</span>
        <span class="description" #postInfo
          >All the WordPress themes that we have here have had a vast team of
          professional designers sketching, working and executing the ultimate
          visual look for iEach business niche may require a unique functionality
          of its own. With that notion in mind, our trthjdytfjhfgheam of
          professional WordPress coders has been working day and nighEach business
          niche may require a unique functionality of its own. With that notion in
          mind, our team of professional WordPress coders has been working day and
          nigh rthryh Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Voluptates iure vero eum illo commodi tempore accusamus architecto
          delectus illum, veniam laboriosam dolorem eveniet error eaque iusto
          nihil magni accusantium repellendus consequuntur atque porro ea quos.
          Eligendi repellat voluptatibus blanditiis sed velit soluta quibusdam,
          maiores culpa temporibus nesciunt, similique fugiat voluptas.</span
        >
      </div>
    </ng-template>
    <ng-template carouselSlide>
    <div class="slide-wrapper">
      <div class="img" [style.background-image]="images[1]"></div>
      <!-- <img src="../../../../assets/images/blog/blog-2.png" alt="" /> -->
      <span class="title">24/7 Effective And Friendly Support</span>
      <span class="date">SEP 17, 2019 COMMENTS: 0</span>
      <span class="description" #postInfo
        >Each business niche may require a unique functionality of its own. With
        that notion in mind, our team of professional WordPress coders has been
        working dayEach business niche may require a unique functionality of its
        own. With that notion in mind, our team of professional WordPress coders
        has been working day and nighEach business niche may require a unique
        functionality of its own. With that notion in mind, our team of
        professional WordPress coders has been working day and nigh rhrjf
        thrthrthrtn gynhjryht</span
      >
    </div>

      
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide-wrapper">
        <div class="img" [style.background-image]="images[2]"></div>
        <!-- <img src="../../../../assets/images/blog/blog-3.png" alt="" /> -->
        <span class="title">GPL3 License Advantages</span>
        <span class="date">SEP 17, 2019 COMMENTS: 0</span>
        <span class="description" #postInfo
          >Each business niche may require a unique functionality of its own. With
          that notion in mind, our team of professional WordPress coders has been
          working day and night Each business niche may require a unique
          functionality of its own. With that notion in mind, our team of
          professional WordPress coders has been working day and nighEach business
          niche may require a unique functionality of its own. With that notion in
          mind, our team of professional WordPress coders has been working day and
          nigh rrrrrrrrrrrrrrrrrrrrrrrrrrr</span
        >
      </div>
      
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide-wrapper">
        <div class="img" [style.background-image]="images[3]"></div>

        <!-- <img src="../../../../assets/images/blog/blog-4.png" alt="" /> -->
        <span class="title">Cherry 5 Framework Sneaky Peaks.</span>
        <span class="date">SEP 17, 2019 COMMENTS: 0</span>
        <span class="description" #postInfo
          >All the WordPress themes that we have here have had a vast team of
          professional designers sketching, working and executing the ultimate
          visual look for it. With such a wide rangeEach business niche may
          require a unique functionality of its own. With that notion in mind, our
          team of professional WordPress coders has been working day and nighEach
          business niche may require a unique functionality of its own. With that
          notion in mind, our team of professional WordPress coders has been
          working day and nigh llllllllllllllllllllllll</span
        >
      </div>
     
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide-wrapper">
        <div class="img" [style.background-image]="images[2]"></div>

        <!-- <img src="../../../../assets/images/blog/blog-4.png" alt="" /> -->
        <span class="title">Cherry 5 Framework Sneaky Peaks.</span>
        <span class="date">SEP 17, 2019 COMMENTS: 0</span>
        <span class="description" #postInfo
          >All the WordPress themes that we have here have had a vast team of
          professional designers sketching, working and executing the ultimate
          visual look for it. With such a wide rangeEach business niche may
          require a unique functionality of its own. With that notion in mind, our
          team of professional WordPress coders has been working day and nighEach
          business niche may require a unique functionality of its own. With that
          notion in mind, our team of professional WordPress coders has been
          working day and nigh llllllllllllllllllllllll</span
        >
      </div>
     
    </ng-template>
  </owl-carousel-o>
</section>
